h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 44px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-bottom: 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #142a3a;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .05), #000), url('../images/hero-image.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .05), #000), url('../images/hero-image.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  font-family: Lato, sans-serif;
  color: #fff;
  text-align: center;
}

.main-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav-link {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  color: #fffdfd;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #333;
}

.nav-link.gray {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #333;
}

.nav-link.gray:hover {
  color: rgba(51, 51, 51, .75);
}

.btn-sml {
  height: 42px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
}

.btn-sml:hover {
  border-color: #258c42;
  background-color: #258c42;
}

.btn-sml.green {
  border-color: #258c42;
  background-color: #258c42;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.btn-sml.green:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}

.navbar.white {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
}

.logo {
  width: 86px;
  height: 66px;
}

.hero-title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.heading {
  color: #fff;
}

.heading-2 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 400;
}

.btn-play {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  margin-top: 24px;
  padding-left: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border: 2px solid #fff;
  border-radius: 50px;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.btn-play:hover {
  background-color: #258c42;
}

.image {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.triangle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.section-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.title-divider {
  width: 56px;
  height: 6px;
  margin-top: 24px;
  margin-bottom: 24px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #258c42;
}

.section-text {
  padding-right: 50px;
  padding-left: 50px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
}

.section-text.left {
  padding-left: 0px;
}

.side-block {
  width: 15%;
}

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-3 {
  margin-bottom: 0px;
}

.links-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

@@media {
  .link-block:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.link-block:hover {
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.link-block.twitter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #00aaec;
  text-decoration: none;
}

.link-block.github {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3e75c3;
  text-align: center;
  text-decoration: none;
}

.link-block.trello {
  background-color: #007ac2;
  text-decoration: none;
}

.link-block.mail {
  background-color: #365468;
  font-size: 16px;
  text-decoration: none;
}

.link-logo {
  padding-bottom: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: Fontawesome, sans-serif;
  font-size: 42px;
}

.link-text {
  font-size: 18px;
}

.link-text.email {
  font-size: 14px;
}

.navbar-white {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .25);
}

.navbar-white.page {
  position: relative;
}

.contact-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 100px 10%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f9f9f9;
}

.contact-title {
  padding-right: 20px;
}

.contact-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-col {
  margin-top: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-input {
  margin-bottom: 20px;
  padding-left: 0px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #333;
  background-color: transparent;
}

.form-input:active {
  border-bottom-color: #258c42;
}

.form-input:focus {
  border-bottom-color: #258c42;
}

.form-text {
  padding-left: 0px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #333;
  background-color: transparent;
}

.lightbox-link {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.howitworks-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.howitworks-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.howitworks-item.right {
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.heading-5 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Lato, sans-serif;
  font-size: 20px;
}

.howitworks-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.how-title {
  padding-right: 60px;
}

.image-2 {
  margin-right: 60px;
}

.divider-vertical {
  height: 50px;
  float: left;
  opacity: 0.5;
  margin: 0 15px;
}

@media (max-width: 991px) {
  .main-section {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .nav-menu {
    background-color: #fff;
  }
  .nav-menu.black {
    z-index: 10001;
    background-color: rgba(0, 0, 0, .5);
  }
  .content-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .menu-white {
    color: #fff;
  }
  .menu-white.w--open {
    background-color: rgba(0, 0, 0, .5);
  }
  .menu-button.w--open {
    background-color: #258c42;
  }
}

@media {
  .link-block {
    margin-bottom: 10px;
  }
}
@media(max-width: 767px) {
  .how-title {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .howitworks-item {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .howitworks-item.right {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .paragraph {
    text-align: left;
  }
  .paragraph-2 {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .links-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .nav-link {
    z-index: 10001;
  }
  .navbar {
    z-index: 10001;
  }
  .hero-title {
    text-align: center;
  }
  .heading-2 {
    font-size: 24px;
  }
  .section-text {
    padding-right: 30px;
    padding-left: 30px;
  }
  .heading-4 {
    font-size: 32px;
  }
  .image-2 {
    margin-right: 0px;
  }
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
