body{
  margin: 0;
  padding: 0;
}
a{
  cursor: pointer;
}
.header{
  height: 832px;
  background-image: url("img/london.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}
.contact-header{
  height: 600px;
  background-image: url("img/london.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}


.navbar-brand,
.navbar-nav li a {
    line-height: 110px !important;
    height: 110px !important;
  //  padding-bottom: 51 !important;
}
.navbar-brand{
  //border: 2px solid green !important;
  //width:200px;
  margin-left: -150px !important;

}
.header h1{
  margin-top: 350px;
  color: green;
  font-family: 'Open Sans',sans-serif;
  font-size: 47px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bolder;

}
.contact-header h1{
  margin-top: 350px;
  color: green;
  font-family: 'Open Sans',sans-serif;
  font-size: 47px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bolder;

}
.header h2{
  font-family: 'Open Sans',sans-serif;
  //font-family: 'Ranga',cursive;
  font-size: 28px;

}
.contact-header h2{
  font-family: 'Open Sans',sans-serif;
  //font-family: 'Ranga',cursive;
  font-size: 28px;

}
.inter{
  height: 1px;
  background-color: #fff;
}
#inter2{
  height: 1px;
  background-color: #fff;
}
.contact p{
  color:green;
  font-family: 'Open Sans',sans-serif;
  text-align: left;
  font-size: 24px;
  padding-top: 40px;
}
form{
  padding-top: 30px;
  padding-bottom: 100px;
}
.welcome{
  height: 471px;

}

.welcome h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 150px;
  font-size: 30px;
  color: #014225;
  font-weight: bold;
}
.welcome span{
  color: #398E0C;
  font-weight: bold;
}
.welcome p{
  margin-top: 45px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  line-height: 44px;

}


.howItWorks{
  height: 1000px;
  background-color: #fff;
  overflow: hidden;
  z-index: 0;
  box-shadow: 0px -10px 60px #777;

}
.offers{
  margin-top: 70px;
}

.howItWorks h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 150px;
  font-size: 30px;
  color: #014225;
  font-weight: bold;
}
.howItWorks h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: #777;

}
.howItWorks p{
  text-align: left;
  font-size: 18px;
  margin-top: 30px;
  font-family: helvetica,'Open Sans',sans-serif;
  color: #888;
  line-height: 29px;
}

.business{
  background-image: url("img/business.jpg");
  height: 750px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.business .bg{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: green;
  opacity: .3;
  width: 100%;
  height: 100%;
}
.business h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 120px;
  font-size: 31px;
  color: #fff;
  font-weight: bold;
}
.business .box{
  background-color: #fff;
  border-radius: 11px;
  //width: 50%;
}
.box h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  color: green;
}
.box p{
  padding: 15%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  line-height: 23px;
  font-size: 17px;
}

.pricing{
  height: 400px;

}
.pricing h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 100px;
  font-size: 30px;
  color: #014225;
  font-weight: bold;
}
.pricing p{
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
  font-size: 20px;
  color: #014225;
  font-weight: bold;
  padding: 31px;
  border-bottom: 5px solid green;
  border-left: 5px solid #014225;
}

.footer {
  height: 100px;
  background-color: #914225;
}
.footer p{
    font-size: 17px;
    margin-top: 36px;
    font-family: 'Open Sans', sans-serif;
    color: #fff
}
