@media screen and (max-width:1400px){
  .navbar-brand{
    //border: 2px solid green !important;
    //width:200px;
    margin-left: -110px !important;

  }
}

/*=========================== */
@media screen and (max-width:1320px){
  .navbar-brand{
    //border: 2px solid green !important;
    //width:200px;
    margin-left: -60px !important;

  }
}
/*=========================== */

@media screen and (max-width:1280px){
  .navbar-brand{
    //border: 2px solid green !important;
    //width:200px;
    margin-left: -30px !important;

  }

  .welcome{
    height: 500px;

  }

  .business{
    background-image: url("img/business.jpg");
    height: 850px;
}
@media screen and (max-width:991px){
  .howItWorks{
    height: 1400px;
    background-color: #fff;

  }
  .col-md-6, .col-xs-12{
    border: 0px solid transparent !important;
  }
  .business{
    height: 1280px;
}
.footer {
  height: 150px;
  background-color: #914225;
}
}

@media screen and (max-width:768px){
  .header{
    height: 640px;
  }
  .welcome{
    height: 600px;

  }
  .navbar-nav li a {
      line-height: 30px !important;
      height: 50px !important;
    //  padding-bottom: 51 !important;
  }

}

@media screen and (max-width:660px){

  .howItWorks{
    height: 1600px;

  }
  .welcome{
    height: 711px;
  }
  .pricing{
    height: 500px;
  }
  .footer{
    height: 170px;
  }
  .header h1{
    font-size: 40px;
  }
  .header h2{
    font-size: 25px;
  }

}

@media screen and (max-width:500px){
  .header h1{
    font-size: 35px;
  }
  .header h2{
    font-size: 20px;
  }
  .welcome h2{
    font-size: 28px;
  }
  .welcome p{
    font-size: 20px;
  }
  .howItWorks{
    height: 1700px;


  }
  .howItWorks h2{
    font-size: 28px;
  }
  .business{
    height: 1380px;
  }
  .business h2{
    font-size: 28px;
  }
  .footer {
    height: 180px;
    background-color: #914225;
  }



}
@media screen and (max-width:435px){


  .welcome p{
    font-size: 20px;
    line-height: 37px;
  }
  .howItWorks{



  }
  .business{
    height: 1250px;
  }
  .pricing{
    height: 550px;

  }

  .footer p{
    font-size: 13px;
  }

@media screen and (max-width:400px){
  .header h1{
    font-size: 30px;
  }
  .header h2{
    font-size: 18px;
  }
  .welcome{
    height: 751px;
  }
  .welcome h2{

    font-size: 25px;

  }

  .welcome p{
    font-size: 18px;
    line-height: 34px;
  }
  .howItWorks{
  
  }

  .howItWorks h2{
    font-size: 25px;
  }
  .howItWorks h3{
    font-size: 22px;
  }
  .howItWorks p{
    font-size: 16.5px;
    line-height: 28px;
  }
  .business h2{
    font-size: 25px;
  }
  .pricing p{
    font-size: 17px;
  }

}

@media screen and (max-width:360px){
  .header h1{
    font-size: 25px;
  }
  .header h2{
    font-size: 16px;
  }
  .howItWorks{
    height: 1800px;
  }
}
